.sidebar-container {
  width: 40%;
  height: 30vh;
  position: relative;
  display: flex;
  border-radius: 20px;
  overflow-y: scroll;
}

.full-width-button {
  width: 100%;
  height: max-content;
  justify-content: flex-start;
  color: black !important;
}

.mat-sidebar-content {
  background-color: white;
}
