<div class="scroll-wrapper">
  <mat-card class="overhead-div"
    ><mat-card-header>
      <mat-card-title class="about-title">
        <h1>Über das Projekt</h1>
        <p></p>
      </mat-card-title>
    </mat-card-header>
    <img src="" alt="" />

    <mat-accordion>
      <mat-expansion-panel hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <p>Projektfindung</p>
          </mat-panel-title>
          <mat-panel-description>
            <mat-icon>expand_more</mat-icon>
          </mat-panel-description>
        </mat-expansion-panel-header>
        <div class="details-div">
          <p class="details-p">
            Da ich im Zuge meiner Ausbildung verschiedene Projekte in Richtung
            Clouddevelopment/Webdevelopment angehen wollte, habe ich nach einem
            Projekt gesucht, mit dem Ich meinen aktuellen Wissensstand und meine
            Fähigkeiten in verschiedenen Fachdomänen in einem privaten Projekt
            anwenden wollte. Dementsprechend habe ich nach den Prüfungen
            gedacht, dass es zum Abschluss meines ersten Jahres bei GData eine
            gute Idee wäre, eine Webapplication von Anfang bis Ende komplett
            selbst zu erstellen und bei mir zuhause auf einem kleinen Server zu
            hosten. Dies bringt den nötigen Druck bis zur Dealine Hochzeitstag
            fertig zu werden, mehrere gelernte Inhalte im Zusammenspiel
            umzusetzen und einen Releasesprint zu simulieren.
          </p>
        </div>
      </mat-expansion-panel>
      <mat-expansion-panel hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <p>Technische Details</p>
          </mat-panel-title>
          <mat-panel-description>
            <mat-icon>expand_more</mat-icon>
          </mat-panel-description>
        </mat-expansion-panel-header>
        <div class="details-div">
          <p class="details2-p">
            Mit dem Hosting dieser Application werden verschiedene Fachdomänen
            im Development abgebildet. <br /><br />
            Dazu gehören: <br />- Backend: Erstellen einer REST-API mit C# und
            ASP.Net Core <br />
            - Frontend: <br />
            die gesamte Palette eines Benutzerinterfaces integrieren d.h. u.A.
            <br />
            Styling, <br />
            Einbinden von Materials Komponenten, <br />
            -SCSS, -HTML, Logik, HttpRequests, Kombinieren von Views und
            Components
            <br />
            Virtualisierung/Containerisierung mit Docker
          </p>
        </div>
      </mat-expansion-panel>

      <mat-expansion-panel hideToggle>
        <mat-expansion-panel-header>
          <mat-panel-title>
            <p>Zukünftiges</p>
          </mat-panel-title>
          <mat-panel-description>
            <mat-icon>expand_more</mat-icon>
          </mat-panel-description>
        </mat-expansion-panel-header>
        <div class="details-div">
          <p class="details-p">
            Da ich zukünftig mich in Richtung Backend/Devops/Cloudengineering
            fortentwickeln möchte, dient dieses Projekt vorrangig dazu,
            Erfahrung mit einem kompletten Development Zyklus zu bekommen <br />
            und alle Komponenten im Zusammenspiel zu entwickeln. Zukünftig hoffe
            ich in meinen anderen Apps die hier gewonnenen Erfahrungen nutzen zu
            können.
          </p>
        </div>
      </mat-expansion-panel>
    </mat-accordion>
  </mat-card>
</div>
