mat-sidenav,
mat-sidenav-content {
  padding: 16px;
}

mat-sidenav {
  width: 40%;
}

a {
  width: 100%;
}

mat-sidenav a {
  display: flex; /* Flexbox, damit Icon und Text nebeneinander */
  align-items: center; /* Vertikal zentriert */
  width: 100%; /* Volle Breite */
  padding: 8px 16px; /* Innenabstand */
  box-sizing: border-box; /* Padding zählt zur Breite */
  text-decoration: none; /* Link-Text ohne Unterstreichung */
  color: inherit; /* Farbe von Eltern übernehmen */
  margin-bottom: 8px; /* Abstand nach unten */
}

.menu-button {
  font-size: 18px;
  padding: 12px 16px;
  min-height: 48px;
  display: flex;
  align-items: center;
}

.menu-button mat-icon {
  font-size: 24px;
  margin-right: 8px;
}

.sidebar-container {
  width: 100%;
  height: 100%;
  position: relative;
  display: flex;
  border-radius: 20px;
  overflow-y: scroll;
}
// Handy
@media (max-width: 600px) {
  .overhead-div {
    height: 48px;
    flex-shrink: 0; /* Höhe bleibt fix */
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: white;
    z-index: 1000;
    display: flex;
    align-items: center;
    padding-left: 16px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  }
  mat-icon {
    font-size: 20px;
  }

  mat-sidenav a[mat-button] {
    min-height: 48px;
    font-size: 16px;
    padding: 10px;
  }
  mat-sidenav {
    width: 60%;
  }
  .menu-button {
    font-size: 16px;
    padding: 8px 12px;
  }

  .menu-button mat-icon {
    font-size: 20px;
  }
}
//Middlebildschirm
@media (min-width: 601px) and (max-width: 960px) {
  mat-icon {
    font-size: 28px;
  }

  mat-sidenav a[mat-button] {
    min-height: 56px;
    font-size: 18px;
    padding: 12px;
  }
  mat-sidenav {
    width: 60%;
  }
}

/* Große Geräte: Desktop */
@media (min-width: 961px) {
  mat-icon {
    font-size: 32px;
  }

  mat-sidenav a[mat-button] {
    min-height: 64px;
    font-size: 40px;
    padding: 16px;
  }
  mat-sidenav {
    width: 60%;
  }
}
