<div class="scroll-wrapper">
  <mat-card class="home-component-div">
    <mat-card-header>
      <mat-card-title class="wedding-title">
        <h1>Herzlichen Glückwunsch zur Hochzeit!</h1>
      </mat-card-title>
    </mat-card-header>
    <img
      mat-card-image
      class="home-component-image"
      src="assets/images/Lucaleni.png"
      alt="Luca und Leni"
    />
    <mat-card-content>
      <p>
        Lieber Luca, liebe Leni <br />
        Auch von mir nur das Beste zu eurer Heirat. <br />
        Ich kann mir euch beiden mitlerweile garnicht mehr als einzelne Person
        vorstellen<mat-icon>sentiment_very_satisfied</mat-icon>. <br />Ich
        hoffe, euch und den Gästen gefällt diese kleine Webapplication zu eurer
        Hochzeit. <br />Euer Lümers
      </p>
    </mat-card-content>
  </mat-card>
</div>
